.header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  /* max-height: 80px; */
  font-family: 'Times New Roman', Times, serif;
}

.trybewarts-header-logo {
  max-height: 80px;
}

.trybewarts-login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

button {
  color: white;
  background-color: #2e2043;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #efefef;
}

#evaluation-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 675px;
  align-items: center;
  justify-content: space-around;
  font-family: 'Times New Roman', Times, serif;
}

#family-content {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

#lessons-conteiner {
  display: flex;
  flex-wrap: wrap;
}

#section-2 {
  display: flex;
  flex-wrap: wrap;
}

#trybewarts-forms-logo {
  width: max-content;
  max-width: 500px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #222b41;
  color: white;
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
  }

  #trybewarts-forms-logo {
    width: 100%;
  }

  .trybewarts-login {
    flex-direction: column;
  }
}